@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: #FFF;
  padding: 0px 100px;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid #f0f0f0;
  z-index: 10;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  width: 100px;
  height: 100%;
}

nav h1 {
  font-family: 'Poppins', sans-serif;
  color: #2D3047;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: -20px;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35vw;
}

nav .nav-links a {
  text-decoration: none;
  color: #1DA1F2;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

nav .nav-links a:nth-child(5) {
  background-color: #1DA1F2;
  padding: 10px 20px;
  border-radius: 3px;
  color: #FFF;
}

nav .nav-links a:nth-child(5):hover {
  background: #FFF;
  color: #1DA1F2;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

nav .nav-links .active {
  border-bottom: 3px solid #1DA1F2;
  -webkit-transition: border-bottom 0.5s ease-in-out;
  transition: border-bottom 0.5s ease-in-out;
}

nav .nav-links .active:hover {
  border-bottom: 3px solid #FFF;
}

nav .burger {
  display: none;
}

@media (max-width: 1200px) {
  nav {
    padding: 0px 20px;
  }
  nav .nav-links {
    width: 50vw;
  }
  nav .logo {
    padding-left: 100px;
  }
}

@media (max-width: 800px) {
  nav {
    height: 12vh;
    padding: 0px 20px;
    position: unset;
    width: 100%;
  }
  nav .logo {
    margin-left: -10%;
    padding-left: 0px;
  }
  nav .logo img {
    width: 120px;
  }
  nav h1 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  nav .nav-links {
    -webkit-transform: translateX(110vw);
            transform: translateX(110vw);
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    background: #1DA1F2;
    right: 0;
    padding-top: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }
  nav .nav-links a {
    color: white;
    font-size: 20px;
    margin-top: 30px;
  }
  nav .nav-links a:nth-child(5) {
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 3px;
    color: #1DA1F2;
  }
  nav .nav-links a:nth-child(5):hover {
    background: #FFF;
    color: #1DA1F2;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  nav .nav-links .active {
    border-bottom: 3px solid #FFF;
    -webkit-transition: border-bottom 0.5s ease-in-out;
    transition: border-bottom 0.5s ease-in-out;
  }
  nav .nav-links .active:hover {
    border-bottom: 3px solid #1DA1F2;
  }
  nav .burger {
    display: block;
    cursor: pointer;
  }
  nav .burger img {
    width: 20px;
  }
}

@media (max-width: 300px) {
  nav .logo {
    margin-left: -20vw;
    padding-left: 0px;
  }
}

.nav-links.open {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.about-header {
  font-family: "Poppins", sans-serif;
  background: rgba(0, 0, 0, 0.685);
  background-image: url(/img/header.jpg);
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center top;
  background-size: cover;
}

.about-header .article {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  position: relative;
  color: white;
}

.about-header:before {
  position: absolute;
  content: " ";
  top: 10vh;
  width: 100%;
  height: 80vh;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.219);
}

.about-header h1 {
  color: white;
  font-size: 40px;
  z-index: 2;
  font-weight: 600;
}

@media (max-width: 800px) {
  .about-header {
    height: 40vh;
  }
  .about-header:before {
    height: 40vh;
    top: 10vh;
  }
  .about-header h1 {
    font-size: 30px;
    font-weight: 600;
  }
}

.about-section {
  padding: 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-section h1 {
  color: #2D3047;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 20px;
}

@media (max-width: 800px) {
  .about-section {
    padding: 0px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-section h1 {
    font-size: 30px;
  }
}

.values {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-gap: 20px;
  background: #ebebeb;
  padding: 0px 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.values .core {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.values .core h2 {
  color: #2D3047;
}

.values .core .coreimg {
  padding-right: 20px;
}

@media (max-width: 800px) {
  .values {
    padding: 0px 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .values .core {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    padding-bottom: 20px;
  }
  .values .core h2 {
    font-size: 20px;
  }
  .values .core .note {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

article {
  padding: 0px 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  article {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

article h1 {
  font-size: 40px;
  color: #2D3047;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  article h1 {
    font-size: 30px;
  }
}

article .about-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .about-history div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

article .about-history div p {
  padding-top: 10px;
}

@media (max-width: 800px) {
  article .about-history div {
    padding-top: 30px;
  }
}

article .about-history img {
  width: 500px;
}

@media (max-width: 800px) {
  article .about-history img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  article .about-history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.refer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  background: #ebebeb;
  padding: 0px 150px;
}

.refer img {
  width: 50%;
  height: 100%;
}

.refer div h1 {
  font-weight: 500;
  color: #2D3047;
  margin-bottom: 20px;
}

.refer div a {
  background-color: #1DA1F2;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  color: #FFF;
}

.refer div a:hover {
  background: #FFF;
  color: #1DA1F2;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

@media (max-width: 800px) {
  .refer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    padding-bottom: 50px;
  }
  .refer img {
    width: 100%;
  }
  .refer div {
    padding-left: 20px;
  }
  .refer div h1 {
    font-size: 25px;
    padding-top: 20px;
  }
}

.connect {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.connect h2 {
  font-size: 40px;
  font-weight: 500;
}

.connect div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect div h3 {
  font-weight: 400;
}

.connect div h3 a {
  text-decoration: none;
  color: #1DA1F2;
}

.connect_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border: 1px solid #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.connect_form h3 {
  font-weight: 500;
}

.connect_form input,
.connect_form textarea {
  border: none;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.connect_form input::-webkit-input-placeholder,
.connect_form textarea::-webkit-input-placeholder {
  font-size: 16px;
}

.connect_form input:-ms-input-placeholder,
.connect_form textarea:-ms-input-placeholder {
  font-size: 16px;
}

.connect_form input::-ms-input-placeholder,
.connect_form textarea::-ms-input-placeholder {
  font-size: 16px;
}

.connect_form input::placeholder,
.connect_form textarea::placeholder {
  font-size: 16px;
}

.connect_form button {
  border: none;
  cursor: pointer;
  background-color: #1DA1F2;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .connect div h3 {
    font-size: 16px;
  }
  .connect input,
  .connect textarea {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .connect {
    padding: 0px 20px;
    padding-top: 50px;
  }
  .connect input {
    width: 100%;
    height: 50px;
  }
  .connect textarea {
    width: 100%;
  }
  .connect_form {
    width: 90vw;
  }
  .connect h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.gallery {
  padding: 0px 100px;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.gallery h1 {
  color: #2D3047;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

@media (max-width: 800px) {
  .gallery {
    padding: 0px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .gallery h1 {
    font-size: 25px;
  }
}

.images,
.independence-images,
.class-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.images img,
.independence-images img,
.class-images img {
  width: 50%;
  height: 50%;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .images,
  .independence-images,
  .class-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .images img,
  .independence-images img,
  .class-images img {
    width: 100%;
  }
}

footer {
  background-color: #1DA1F2;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  margin-top: 30px;
}

footer img {
  width: 20px;
}

footer p {
  color: #FFF;
  margin-top: 30px;
}

footer h3 {
  color: #2D3047;
}

@media (max-width: 800px) {
  footer {
    height: 100%;
    text-align: center;
    padding: 0px 20px;
    padding-top: 50px;
  }
}

.connectc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10vh;
}

.connectc_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border: 1px solid #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.connectc_contact h3 {
  font-weight: 500;
}

.connectc_contact input,
.connectc_contact textarea {
  border: none;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.connectc_contact input::-webkit-input-placeholder,
.connectc_contact textarea::-webkit-input-placeholder {
  font-size: 16px;
}

.connectc_contact input:-ms-input-placeholder,
.connectc_contact textarea:-ms-input-placeholder {
  font-size: 16px;
}

.connectc_contact input::-ms-input-placeholder,
.connectc_contact textarea::-ms-input-placeholder {
  font-size: 16px;
}

.connectc_contact input::placeholder,
.connectc_contact textarea::placeholder {
  font-size: 16px;
}

.connectc_contact button {
  border: none;
  cursor: pointer;
  background-color: #1DA1F2;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .connectc div h3 {
    font-size: 16px;
  }
  .connectc input,
  .connectc textarea {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .connectc {
    padding: 0px 20px;
    padding-top: 50px;
  }
  .connectc input {
    width: 100%;
    height: 50px;
  }
  .connectc textarea {
    width: 100%;
  }
  .connectc_contact {
    width: 90vw;
  }
  .connectc h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.academic {
  padding: 0px 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.academic h1 {
  font-size: 40px;
  color: #2D3047;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .academic h1 {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .academic {
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0px 20px;
  }
}

.acad h1 {
  color: white;
  font-size: 40px;
  z-index: 2;
  font-weight: 600;
}

@media (max-width: 800px) {
  .acad {
    font-family: "Poppins", sans-serif;
    background: rgba(0, 0, 0, 0.685);
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center top;
    background-size: cover;
    background-image: url(/img/img1.jpg);
    height: 40vh;
  }
  .acad:before {
    height: 40vh;
    top: 10vh;
  }
  .acad h1 {
    font-size: 30px;
    font-weight: 500;
  }
}

.container {
  width: 100%;
  height: 90vh;
  font-family: "Poppins", sans-serif;
  background-image: url(/img/header1.jpg);
  background-position: center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 150px;
}

.container h1 {
  color: #FFF;
  font-size: 40px;
  font-weight: 300;
  width: 60%;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

.container a {
  text-decoration: none;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: #1DA1F2;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 20px;
}

.container a:hover {
  background: #FFF;
  color: #1DA1F2;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

@media (max-width: 1200px) {
  .container h1 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0px 20px;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: gray;
    background-image: url(/img/header1.jpg);
  }
  .container h1 {
    width: 100%;
    font-size: 25px;
    text-align: unset;
  }
}

.about {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0px 150px;
  background: #f0f0f0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about p {
  padding-top: 20px;
  text-align: center;
}

.about h1 {
  font-size: 50px;
  color: #2D3047;
  font-weight: 300;
  line-height: 1em;
}

.about h1 span {
  color: #1DA1F2;
  font-weight: 500;
}

.about_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 50px;
}

.about_links .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1DA1F2;
  color: white;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  padding: 20px 0px;
}

.about_links .box a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_links .box a h2 {
  padding-top: 20px;
}

@media (max-width: 800px) {
  .about {
    padding: 0px 20px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .about h1 {
    font-size: 30px;
    text-align: center;
  }
  .about p {
    font-size: 14px;
  }
  .about_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about_links .box {
    min-width: 70%;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */