nav {
    @include flexCenter(row, space-between);
    height: 10vh;
    background-color: $text-color;
    @include padding2;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid $gray-background;
    z-index: 10;
    .logo {
        @include flexCenter(row, center);
        img {
            width: 100px;
            height: 100%;
        }
    }
    h1 {
        font-family: 'Poppins', sans-serif;
        color: $space-cadet;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-left: -20px
    }
    .nav-links {
        @include flexCenter(row, space-between);
        width: 35vw;
        a {
            @include links($fire-opal);
            &:nth-child(5) {
                @include redBtn;
                color: $text-color;
            }
        }
        .active {
            border-bottom: 3px solid $fire-opal;
            transition: border-bottom 0.5s ease-in-out;
            &:hover {
                border-bottom: 3px solid $text-color;
            }
        }
    }
    .burger {
        display: none;
    }
    @include mobile(1200px) {
        @include paddingMobile;
        .nav-links {
            width: 50vw;
        }
        .logo {
            padding-left: 100px;
        }
    }
    @include mobile(800px) {
        .logo {
            margin-left: -10%;
            padding-left: 0px;
        }
        h1 {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
        }
        .nav-links {
            // display: none;
            transform: translateX(110vw);
            position: fixed;
            @include flexCenter(column, flex-start);
            top: 10vh;
            height: 90vh;
            width: 100vw;
            background: $fire-opal;
            right: 0;
            padding-top: 50px;
            transition: all 0.3s ease-in-out;
            z-index: 5;
            a {
                color: white;
                font-size: 20px;
                margin-top: 30px;
                &:nth-child(5) {
                    @include whiteBtn;
                }
            }
            .active {
                border-bottom: 3px solid $text-color;
                transition: border-bottom 0.5s ease-in-out;
                &:hover {
                    border-bottom: 3px solid $fire-opal;
                }
            }
        }
        .burger {
            display: block;
            cursor: pointer;
            padding-left: 50px;
            img {
                width: 20px;
            }
        }
        @include paddingMobile;
        position:unset;
        width:100%;
    }
    @include mobile(300px) {
        .logo {
            margin-left: -20vw;
            padding-left: 0px;
        }
    }
}

.nav-links.open {
    transform: translateX(0vw);
}